@import "../../assets/main.scss";

.notification {
  width: auto;
  background: $lightmaincolor;
  margin: 1%;
  padding: 0% 0% 0.2% 2%;
  border: 1px solid black;
  border-left: 5px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  text-align: left;

 
  
  .close {
    display: block;
    color: $black;
    margin: auto 0;
    cursor: pointer;
    padding: 1%;
    font-size: 3vh;
    width: 20%;
    text-align: center;

    &:hover{
      color: $darkmaincolor;
    }
  }
}
