@import "../../assets/main.scss";

.notification {
  width: auto;
  background: $lightmaincolor;
  margin: 1%;
  text-align: center;
  padding: 1% 5%;
  border: 1px solid black;
  border-left: 10px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
}
