@import "../../assets/main.scss";

.NotFound {
  border-radius: 20px;
  margin: 5% auto;
  border: 3px solid $danger;
  padding: 7% 2%; 
  background:$white;
  .redflag {
    padding: 1%;
    color: $darkgrey;
  }
}
