@import "../../assets/main.scss";

.mainform {
  .searchBar {
    width: 100%;
    outline: none;
    padding: 1%;
    margin: 1% auto;
    text-align: center;
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: 700;
    border: 3px solid $darkmaincolor;
    background: $white;
    border-radius: 5px;
    color: $darkmaincolor;
  }

}
