@import "../../assets/main.scss";

.mainform {
  .searchBar {
    width: 100%;
    outline: none;
    padding: 1%;
    margin: 1% auto;
    text-align: center;
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: 600;
    border: 1.5px solid $darkmaincolor;
    background: $white;
    border-radius: 5px;
    color: $darkmaincolor;

    
  }
  ::placeholder { 
    color: $black;
    opacity: 0.1; /* Firefox */
  }
}
