@import "../../assets/main.scss";

.defaultAnimation {
  width: 100%;
  margin: 0% auto;
  .animatedcar {
    border-radius: 50%;
    width: 100%;
  }
}

.frame{
  width: 100%;
  height:300px;
  // border:red 1px solid;
  .path{
    fill:$white;
    stroke:$darkmaincolor;
    stroke-width:5px;
    stroke-linecap:round;
    stroke-linejoin:bevel;
    stroke-dasharray: 3500;
    stroke-dashoffset: 3500;
    animation: dash 5s infinite backwards;
  }

  .car{
    fill:$white;
    stroke:$darkmaincolor;
    stroke-width:5px;
    animation: speed 1s infinite ease-in-out;
  }
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes speed {
  from{
    transform: translateY(3px);
  }
  to {
    transform: translateY(0px);
  }
}


