@import "../../assets/main.scss";

.addSection {
  form {
    background: #206fca0e;
    padding: 1%;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $darkmaincolor;
    label {
        input{
            outline: none;
            padding: 2%;
            width: 100%;
            border-color: $darkmaincolor;
            border-radius: 5px;
        }
        
    }

    .buttonsdouble {
      display: flex;
      justify-content: space-between;
      .button{
        width: 40%;
        margin: 2% 0% 0% 0%;
    }
    }


   
  }
}
