@import "../../assets/main.scss";

.myprofile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .devider {
    width: 100%;
    margin: 8% 2% 0% 0%;
    .infos {
      .infodiv {
        margin: 1% 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
        border-radius: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.164);
      }
    }
  }

  .ndpdivider {
    display: flex;
    flex-wrap: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2%;
    .ndpdiv {
      margin: 2% auto 3% auto;
      flex: 1;

      .ndplate {
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        background-color: $white;
        border-radius: 5px;
        padding: 2% 4%;
        border-left: $darkmaincolor 20px solid;
        border-right: $darkmaincolor 20px solid;
        border-top: $darkmaincolor 2px solid;
        border-bottom: $darkmaincolor 2px solid;
      }

      .buttonset {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .button {
    margin: 2% 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: none;
    color: $black;
    background: $white;
    border-radius: 5px;
    cursor: pointer;
    padding: 1% 5%;
    transition: all 0.3s ease;

    p{
      margin-left: 1%;
    }


    &:hover {
      background: $darkmaincolor;
      color: $white;
    }
  }

  .super {
    width: auto;
    color: $darkmaincolor;
    background: $white;
    margin: 8% 0% 0% auto;

    p{
      margin-left: 1%;
    }

    &:hover {
      background: $darkmaincolor;
      color: $white;
    }
  }
}

