@import "../../assets/main.scss";

.myprofile{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .devider{
    width: 48%;
    margin: 0% 2% 0% 0%;
    .infos{
      .infodiv{
        margin: 1% 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        
      }
    }
  }

  .devider:nth-child(3){
    width: 100%;
  }

  .button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    color: $white;
    background: $darkgrey;
    border-radius: 5px;
    cursor: pointer;
    padding: 1% 5%;


    &:hover {
      color: $white;
      background: $darkmaincolor;

    }
  }
}