@import "../../assets/main.scss";

.myprofile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .devider {
    width: 100%;
    margin: 5% 2% 0% 0%;
    .infos {
      .infodiv {
        margin: 1% 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1%;
        border-radius: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.164);
      }
    }
  }

  .ndpdivider {
    display: flex;
    flex-wrap: row;
    flex-wrap: wrap;
    .ndpdiv {
      margin: 2% 1%;
      flex: 1;
      gap: 10px;

      .ndplate {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        background-color: $white;
        border-radius: 5px;
        padding: 0% 2%;
        border-left: $darkmaincolor 20px solid;
        border-right: $darkmaincolor 20px solid;
        border-top: $darkmaincolor 2px solid;
        border-bottom: $darkmaincolor 2px solid;
      }

      .buttonset {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
    }
  }

  .button {
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    color: $white;
    background: $darkgrey;
    border-radius: 5px;
    cursor: pointer;
    padding: 1% 3%;

    &:hover {
      color: $white;
      background: $darkmaincolor;
    }
  }

  .super {
    background: $darkgrey;
    margin: 8% 0% 0% auto;
  }
}

