@import "../../assets/main.scss";

.headerpc {
  width: 60%;
  margin: 0.5% auto;
  height: auto;
  display: flex;
  justify-content: space-around;

  a {
    display: block;
    color: $black;
    text-decoration: none;
    @extend %fontCairo;
    font-weight: 700;
    width: 100%;
    height: auto;
    

    &:hover div {
      color: $white;
      background: $darkmaincolor;
    }

    .navbutton {
      background:$maincolor;
      padding: 2% 1% 0.5% 1%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 15px 0px 0px 15px;
      transition: 0.2s all ease-in-out;
    }

    .navbutton2{
      transition:0.2s all ease-in-out;
      border-radius:0px  15px  15px 0px;
      background:$maincolor;
      padding: 2% 1% 0.5% 1%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: $firstbreakpoint) {
  .headerpc {
    width: 98%;
    padding: 4%;
  }
}
