@import "../../assets/main.scss";

.headerpc {
  width: 60%;
  margin: 0.5% auto;
  height: auto;
  display: flex;
  justify-content: space-around;

  a {
    display: block;
    text-decoration: none;
    @extend %fontExo;
    font-weight: 700;
    width: 100%;
    height: auto;
    

    

    &:hover div {
      color: $white;
      background: $darkmaincolor;
    }

    .navbutton {
      background:$white;
      padding: 3% 5%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: 0.2s all ease-in-out;
      color: $darkmaincolor;
      font-size: 2.5em;
      
      p{
        text-transform: uppercase;
        margin: 0% 2%;
      }
    }
    
    .borderleft{
      border: 2px solid $darkmaincolor;
      border-right: none;
      border-radius: 15px 0px 0px 15px;
      
    }

    .borderright{
     border: 2px solid $darkmaincolor;
      border-left: none;
      border-radius: 0px 15px  15px 0px;
    }
  }
}

@media only screen and (max-width: $firstbreakpoint) {
  .headerpc {
    width: 98%;
    padding: 4%;
  }
}
