@import "../../assets/main.scss";

.messagesection{
  .message{
    border: 2px solid $grey;
    margin: 1% auto;
    padding: 2%;
    background:$white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover{
      border: 2px solid $maincolor;
    }

    .danger{
      margin: 1% 0% 0% auto;
      width: 10%;
      background:$danger;
      height: 3vh;
      border-radius: 5px;
    }

    .good{
      margin: 1% 0% 0% auto;
      width: 10%;
      background:$good;
      height: 3vh;
      border-radius: 5px;
    }
  }
}