@import "../../assets/main.scss";

.messagesection{
  .message{
    text-align: left;
    width: 100%;
    border: 2px solid $maincolor;
    margin: 1% auto;
    padding: 2%;
    background:$white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    input{
      display: none;
    }

    &:hover{
      border: 2px solid $darkmaincolor;
    }

    .danger{
      margin: 1% 0% 0% auto;
      width: 10%;
      background:$danger;
      height: 3vh;
      border-radius: 5px;
    }

    .good{
      margin: 1% 0% 0% auto;
      width: 10%;
      background:$good;
      height: 3vh;
      border-radius: 5px;
    } 

    :checked {
      margin: 1% auto;
      padding: 2%;
      background:$maincolor;
      color: $black;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
    }
  }
}