$maincolor: #61d9ff;
$darkmaincolor: #194259;
$lightmaincolor: #f1fcff;
$black: #000000;
$white: #ffffff;
$whitesmoke: #c8c8c8;
$grey: #bbbbbb;
$darkgrey: #1f1f1f;
$firstbreakpoint: 1024px;
$danger: #ff9d9d;
$good: #4cff48;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

%fontCairo{
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
}

%fontMulish {
    font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 4vh;
  @extend %fontCairo;
}

h2 {
  font-size: 3vh;
  @extend %fontCairo;
}

p,
span,
a,
ul,
li,
details,
summary,
input,
label,button {
  line-height: 200%;
  font-size: 2vh;
  @extend %fontMulish;
}

h1,
h3,
h4,
h5,
span,
p {
  margin: 0%;
}

// style for main
main{
    width: 60%;
    margin: 0 auto;
}

section{
  margin: 1% auto;
}

  //buttonstyles
  .mainbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 3vh;
    border: 1px solid $white;
    color: $white;
    background: $maincolor;
    border-radius: 5px;
    cursor: pointer;
    padding: 1% 5%;
    margin: 1% 0% 0% auto;

    p{
      margin: 0% 10%;
    }

    &:hover {
      color: $white;
      background: $darkmaincolor;
      border: 1px solid $white;
    }
  }


@media only screen and (max-width: $firstbreakpoint) {
  main {
    width: 98%;
    padding: 4%;
  }
}


